<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/common :: head"/>
</head>
<body style="padding-top: 80px;    background-color: #f0f0f0;">

<th:block th:include="/common :: nav(admin)"/>

<div class="container">
    <h2 style="min-height: 700px;">
        <a href="/">首页</a>
        <a href="admin/system/userManager.html">用户管理</a>
        <a href="admin/article/articleManager.html">文章管理</a>
        <a href="admin/article/articleGroupManager.html">文章分组管理</a>
        <a href="admin/system/scheduleJobManager.html">任务管理</a>
        <a href="/admin/system/configManager.html">配置管理</a>
        <a href="/admin/system/collectParamManager.html">采集参数配置</a>
        <a href="/admin/system/cookieManager.html">cookie管理</a>
        <a href="/admin/system/notifyManager.html">通知管理</a>
        <a href="/admin/system/transferManager.html">转账管理</a>
    </h2>
</div>


<th:block th:include="/common :: footer" />

</body>
</html>