<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
</head>
<body>
<a href="/">首页</a>
<a href="admin/system/userManager.html">用户管理</a>
<a href="admin/article/articleManager.html">文章管理</a>
<a href="admin/article/articleGroupManager.html">文章分组管理</a>
<a href="admin/system/scheduleJobManager.html">任务管理</a>
<a href="/admin/system/configManager.html">配置管理</a>
<a href="/admin/system/collectParamManager.html">采集参数配置</a>
<a href="/admin/system/cookieManager.html">cookie管理</a>
<a href="/admin/system/notifyManager.html">通知管理</a>

<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?e6b9bdcc403490c7a0b5175b174479d9";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

</body>
</html>