footer{
    background-color: #2a2730;
    height: 180px;
}
footer a{
    color:#ffffff;
}
.block{
    margin-top: 20px;
    padding: 30px;
    background: #fbfbfb;
    box-shadow: 1px 1px 1px #e5e5e5;
}
img.avatar{
    width:60px;
    height: 60px;
    border-radius: 1px;
}
