<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
>
    <head th:fragment="head">
        <meta charset="UTF-8"/>
        <title th:text="#{webTitle}"></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="资讯订阅网站" />
        <meta name="keywords" content="燎火,资讯,软件交流" />
    <!--    <script src="/lib/jquery-3.2.1.min.js"></script>
        <link rel="stylesheet" href="/lib/bootstrap-3.3.7/css/bootstrap.css"/>
        <script src="/lib/bootstrap-3.3.7/js/bootstrap.js"></script>
        <link rel="stylesheet" href="/css/common.css" />
        <script src="/lib/jquery.toTop.min.js"></script>-->

        <script src="http://appx-mainline.oss-cn-beijing.aliyuncs.com/lib/jquery-3.2.1.min.js"></script>
        <link rel="stylesheet" href="http://appx-mainline.oss-cn-beijing.aliyuncs.com/lib/bootstrap-3.3.7/css/bootstrap.css"/>
        <script src="http://appx-mainline.oss-cn-beijing.aliyuncs.com/lib/bootstrap-3.3.7/js/bootstrap.js"></script>
        <link rel="stylesheet" href="/css/common.css" />
        <script src="http://appx-mainline.oss-cn-beijing.aliyuncs.com/lib/jquery.toTop.min.js"></script>
    </head>
<body>

<nav th:fragment="nav(name)">
    <style type="text/css">
        body{
            padding-top:80px;
        }
    </style>
    <nav id="navigation" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">NEWS</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li th:class="${name=='index'?'active':''}">
                        <a href="/">首页</a>
                    </li>
                    <li  th:class="${name=='articles'?'active':''}">
                        <a href="/articles">最新文章</a>
                    </li>
                    <li  th:class="${name=='articleGroups'?'active':''}">
                        <a href="/articleGroups">版块</a>
                    </li>
                    <shiro:hasAnyRoles name="管理员">
                        <li  th:class="${name=='admin'?'active':''}">
                            <a th:href="@{/admin}">管理</a>
                        </li>
                    </shiro:hasAnyRoles>

                    <li>
                        <a target="_blank" href="//trade.appx.top">搬砖</a>
                    </li>

                    <li th:class="${name=='help'?'active':''}">
                        <a href="/help">帮助</a>
                    </li>
                </ul>



                <ul class="nav navbar-nav navbar-right">



<!--
<li>
    <form class="navbar-form navbar-left navbar-inverse" role="search" action="/articles/search" method="GET">
        <div class="form-group">
            <input th:value="${keyWord}" type="text" name="keyWord" class="form-control" placeholder="搜索关键字" />
            <input type="submit" style="display: none;"/>
        </div>
    </form>

</li>
-->



                    <shiro:guest>
                        <li>
                            <a href="/login">登录</a>
                        </li>
                        <li>
                            <a href="/register">注册</a>
                        </li>
                    </shiro:guest>

                    <shiro:user>
                        <li><a th:href="@{/logout}">退出登录</a></li>
                    </shiro:user>
                </ul>
            </div>
        </div>
    </nav>
</nav>



<th:block th:fragment="footer">
    <footer >
        <div class="container" style="margin: 30px;">
            <h4 style="padding:10px;">
                <a href="https://www.bitfinex.com">Bitfinex</a> |
                <a href="https://bittrex.com">Bittrex</a> |
                <a href="https://poloniex.com">Polonie</a> |
                <a href="https://coincheck.com">Coincheck</a> |
                <a href="https://www.bitmex.com">Bitmex</a> |
                <a href="https://www.kraken.com">Kraken</a> |
                <a href="https://www.allcoin.com/">AllCoin</a>

            </h4>

            <h5 style="color:#bbb;max-width: 400px;">
                本网站为技术性交流网站,提供新闻咨询订阅功能,后面会逐渐开发更多其他的功能,敬请期待
            </h5>
            <a href="//www.miitbeian.gov.cn">皖ICP备15015583号-2</a>
        </div>
        <script src="/js/seo.js"></script>
    </footer>
</th:block>
</body>
</html>
