<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      lang="en">
<head>

    <th:block th:include="/common :: head"/>
    <script src="/lib/layer/layer.js"></script>
    <script src="/lib/layui/layui.js"></script>
    <link rel="stylesheet" href="/lib/layui/css/layui.css"/>

</head>
<body style="padding-top: 80px;">

<th:block th:include="/common :: nav(login)"/>

<div class="container">
    <ol class="breadcrumb">
        <li><a href="#">首页</a></li>
        <li class="active">登录</li>
    </ol>
</div>
<div class="container" style="min-height: 700px;">
    <form id="mainForm" class="layui-form" action="javascript:void();return false;" style="width: 100%;">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input id="username" type="text" name="username" required="required"  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input"/>
            </div>
            <div class="layui-form-mid layui-word-aux"><span style="color:red;">*</span> </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">密码框</label>
            <div class="layui-input-inline">
                <input id="password" type="password" name="password" required="required" lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input"/>
            </div>
            <div class="layui-form-mid layui-word-aux"><span style="color:red;">*</span> </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <button class="layui-btn" lay-submit="" lay-filter="demo2">登录</button>
            </div>
        </div>
    </form>
  <hr/>
    <div>
        其他登录方式:
        <a href="/qqlogin">QQ登录</a>
    </div>
</div>


<script>

    $("#mainForm").submit(function() {
        layer.load();
        var username = $("#username").val();
        var password = $("#password").val();
        $.ajax({
            url: "login",
            type: "post",
            data: {
                username: username,
                password: password
            },
            success: function () {
                //alert("登陆成功");
                layer.closeAll();
                window.location.href="/";
            },
            error: function (data) {
                layer.closeAll();
                if(data.responseText){
                    layer.msg(data.responseText)
                }
                else{
                    layer.msg("登录失败");
                }
            }
        });
        return false;
    });
</script>

<th:block th:include="/common :: footer"></th:block>


</body>
</html>