<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <script src="/lib/jquery-3.2.1.min.js"></script>
    <script src="/lib/layer/layer.js"></script>
    <script src="/lib/layui/layui.js"></script>
    <script src="/lib/bootstrap-3.3.7/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/lib/layui/css/layui.css"/>
    <link rel="stylesheet" href="/lib/bootstrap-3.3.7/css/bootstrap.css"/>
</head>
<body style="padding-top: 80px;">
<nav id="navigation" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">燎火新闻网</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">首页</a>
                </li>
                <li>
                    <a href="/articles">文章列表</a>
                </li>
                <li>
                    <a href="/articleGroups">文章分组</a>
                </li>
                <shiro:hasAnyRoles name="管理员">
                    <li>
                        <a th:href="@{/admin}">管理</a>
                    </li>
                </shiro:hasAnyRoles>
                <li>
                    <a href="/help.html">帮助</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <shiro:guest>
                    <li>
                        <a href="/login">登录</a>
                    </li>
                    <li class="active">
                        <a href="/register">注册</a>
                    </li>
                </shiro:guest>
                <shiro:user>
                    <li><a th:href="@{/logout}">退出登录</a></li>
                </shiro:user>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
<ol class="breadcrumb">
    <li><a href="#">首页</a></li>
    <li class="active">注册</li>
</ol>
</div>

<div class="container" style="text-align: center;">
<form id="mainForm" class="layui-form" action="javascript:void();return false;" style="width: 100%;">
    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-inline">
            <input type="text" name="username" required="required"  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input"/>

        </div>
        <div class="layui-form-mid layui-word-aux"><span style="color:red;">*</span> </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-inline">
            <input type="password" name="password" required="required" lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input"/>
        </div>
        <div class="layui-form-mid layui-word-aux"><span style="color:red;">*</span> </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">昵称</label>
        <div class="layui-input-inline">
            <input type="text" name="nickname" required="required"  lay-verify="required" placeholder="请输入昵称" autocomplete="off" class="layui-input"/>
        </div>
        <div class="layui-form-mid layui-word-aux"><span style="color:red;">*</span> </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">手机号</label>
        <div class="layui-input-inline">
            <input type="text" name="phone" lay-verify="phone" autocomplete="off" placeholder="请输入手机号" class="layui-input"/>
        </div>
        <div class="layui-form-mid layui-word-aux">可选</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">邮箱</label>
        <div class="layui-input-inline">
            <input type="text" name="email" required="required" lay-verify="email" placeholder="请输入邮箱" autocomplete="off" class="layui-input"/>
            <div class="layui-form-mid layui-word-aux">
                <a href="javascript:getCheckCode();">获取验证码</a>
            </div>
        </div>
        <div class="layui-form-mid layui-word-aux"><span style="color:red;">*</span> </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">验证码</label>
        <div class="layui-input-inline">
            <input type="text" name="checkCode" required="required"  lay-verify="required" placeholder="请输入验证码" autocomplete="off" class="layui-input"/>

        </div>
        <div class="layui-form-mid layui-word-aux"><span style="color:red;">*</span> </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-inline">
        <button class="layui-btn" lay-submit="" lay-filter="demo2">注册</button>
        </div>
    </div>
</form>
</div>

<script>

    $.fn.serializeJson = function () {
        var serializeObj = {};
        $(this.serializeArray()).each(function () {
            serializeObj[this.name] = this.value;
        });
        return serializeObj;
    };


    $("#mainForm").submit(function(){
        var data = $(this).serializeJson();
        layer.load();
        $.ajax({
            method:'POST',
            url:"/user/register",
            data:data,
            success:function(){
                layer.closeAll();
                layer.msg("注册成功,正在跳转到登录页面",function(){
                    location.href = "/login";
                });
            },
            error:function(xhr){
                layer.closeAll();
                if(xhr.status==400){
                    layer.alert(xhr.responseText)
                }else{
                    layer.alert("出错了,请刷新页面后重试"+xhr.status);
                }
            }
        })
        return false;
    });


    function getCheckCode(){
        layer.msg("正在发送验证码邮件,该过程可能花费几十秒的时间,请耐心等待");
        layer.load();
        var data = $("#mainForm").serializeJson();
        if(!data.email){
            alert("请输入邮箱");
            return;
        }
        $.ajax({
            url:"/user/auth?mail="+data.email,
            success:function(){
                layer.closeAll();
                layer.alert('验证码已经发送到你的邮箱,请查收(如果没有找到,请检查邮件垃圾箱里面是否有,并将它移出垃圾箱)');
            },
            error:function(data){
                layer.closeAll();
                if(data.responseText){
                    layer.alert(data.responseText)
                }
                else{
                    layer.alert("登录失败");
                }
            }
        })
    }


</script>



<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?e6b9bdcc403490c7a0b5175b174479d9";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>





</body>
</html>