<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
>
<head th:object="${entity}">
    <title th:text="${entity.name+'-燎火新闻网'}"></title>
    <th:block th:include="/common :: head"></th:block>
    <script src="/lib/layer/layer.js"></script>
</head>
<body style="padding-top: 80px;">

<th:block th:include="/common :: nav(articleGroups)"></th:block>

<div class="container" style="min-height: 700px;">
    <h2>
        <th:block th:text="${entity.name}"></th:block>

        <shiro:guest>
            <span style="font-size: 14px;">
            <a href="javascript:layer.msg('请先登录')">订阅</a>
            </span>
        </shiro:guest>

        <shiro:user>
            <span style="font-size: 14px;">
                <th:block th:unless="${subscribe}">
                    <a th:href="${'javascript:subscribe('+entity.id+',true)'}" href="">订阅</a>
                </th:block>
                <th:block th:if="${subscribe}">
                    <a th:href="${'javascript:subscribe('+entity.id+',false)'}" href="">取消订阅</a>
                </th:block>
            </span>
        </shiro:user>

   <!--     <div style="text-align: right;float: right;">
            <a type="submit" class="btn btn-primary" th:href="@{/articles/add}">发布</a>
        </div>-->

    </h2>



    <hr/>

    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>文章标题</th>
            <th>创建时间</th>
            <th>发生时间</th>
        </tr>
        </thead>
        <tr th:each="model:${pageInfo.list}" th:object="${model}">

            <td>
                <a th:href="@{'/articles/'+ *{id}}" th:utext="*{title}"></a>
            </td>
            <td>
                <span th:text="*{#dates.format(createTime, 'yyyy-MM-dd HH:mm')}"></span>

            </td>
            <td>
                <th:block th:if="*{occTime}">
                    <span th:text="*{#dates.format(occTime, 'yyyy-MM-dd HH:mm')}"></span>
                </th:block>
            </td>
        </tr>
    </table>

    <th:block th:if="${pageInfo.pages>1}">
        <nav id="pages" class="navbar-right">
            <ul class="pagination">
                <li id="page_pre" th:class="${pageInfo.pageNum>1?'enable':'disabled'}"><a th:href="${pageInfo.pageNum>1?'/articleGroups/'+entity.id+'?pageNum='+(pageInfo.pageNum-1):'javascript:void();'}">«</a></li>
                <th:block th:each="i : ${#numbers.sequence(0,pageInfo.pages-1)}">
                    <li th:class="${(i+1)==pageInfo.pageNum?'active':'a'}"><a th:href="${'/articleGroups/'+entity.id+'?pageNum='+(i+1)}" th:text="*{i+1}"></a></li>
                </th:block>
                <li id="page_next" th:class="${pageInfo.pages >pageInfo.pageNum  ?'enable':'disabled'}"><a th:href="${pageInfo.pages>pageInfo.pageNum?'/articleGroups/'+entity.id+'?pageNum='+(pageInfo.pageNum+1):'javascript:void();'}">»</a></li>
            </ul>
        </nav>
    </th:block>

</div>


<script>
    function subscribe(articleGroupId, subscribe) {
        layer.load();
        $.ajax({
            url: "/api/articleGroups/subscribe/" + articleGroupId,
            method: "POST",
            data: {subscribe: subscribe},
            complete: function () {
                location.reload();
                layer.closeAll();
            }
        })
    }
</script>
<th:block th:include="/common :: footer"></th:block>
</body>
</html>