<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
>
<head th:object="${entity}">
    <meta charset="UTF-8" />
    <title><th:block th:text="*{name}"></th:block>-<th:block th:text="#{webTitle}"></th:block></title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <script src="/lib/jquery.1.8.3.min.js"></script>

</head>
<body>
<a href="/">首页</a>
<h3 th:text="${entity.name}"></h3>
<span th:text="${entity.flag}"></span>

<shiro:user>
    <th:block th:unless="${subscribe}">
        <a th:href="${'javascript:subscribe('+entity.id+',true)'}" href="">订阅</a>
    </th:block>
    <th:block th:if="${subscribe}">
        <a th:href="${'javascript:subscribe('+entity.id+',false)'}" href="">取消订阅</a>
    </th:block>
</shiro:user>


<hr />
<ul>
    <li th:each="model:${articleList}" th:object="${model}">
        <a th:text="${model.title}" th:href="@{'/articles/'+*{id}}"></a>

        &nbsp;&nbsp;&nbsp;&nbsp;
        创建时间:
        <span th:text="*{#dates.format(createTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
        <th:block th:if="${model.occTime}">
            &nbsp;&nbsp;&nbsp;
            发生时间
            <span th:text="*{#dates.format(occTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
        </th:block>

    </li>
</ul>

<script>
    function subscribe(articleGroupId,subscribe){
        $.post("/api/articleGroups/subscribe/"+articleGroupId,{subscribe:subscribe},null).complete(function(){
            location.reload();
        }).error(function(){
            alert("错误");
        })

    }
</script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?e6b9bdcc403490c7a0b5175b174479d9";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

</body>
</html>