<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
>
<head>
    <th:block th:include="/common :: head"  />
    <script src="/lib/layer/layer.js"></script>
</head>
<body style="padding-top: 80px;">
<th:block th:include="/common :: nav(articleGroups)" />

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-3" th:each="model:${articleGroupList}" th:object="${model}">

            <div class="thumbnail" style="height: 200px;">
                <div style="text-align: center;">
                    <a th:href="'/articleGroups/'+*{id}" >
                            <h3 th:text="*{name}"></h3>
                    </a>
                </div>
                <div style="text-align: center">
                    <h4 th:text="*{total}"></h4>
                </div>
                <div style="text-align: center;">
                <shiro:guest>
                    <a href="javascript:layer.alert('请先登录')">订阅</a>
                </shiro:guest>
                <shiro:user>
                        <th:block th:unless="*{subscribe}">
                            <a th:href="*{'javascript:subscribe('+id+',true)'}" href="">订阅</a>
                        </th:block>
                        <th:block th:if="*{subscribe}">
                            <a th:href="*{'javascript:subscribe('+id+',false)'}" href="">取消订阅</a>
                        </th:block>
                </shiro:user>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function subscribe(articleGroupId,subscribe){
        layer.load();
        $.ajax({
            url:"/api/articleGroups/subscribe/"+articleGroupId,
            method:"POST",
            data:{subscribe:subscribe},
            complete:function(){
                location.reload();
                layer.closeAll();
            }
        })
    }
</script>

<th:block th:include="/common :: footer"></th:block>

</body>
</html>