<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
>
<head>
    <meta charset="UTF-8" />
    <title th:text="#{webTitle}"></title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <script src="/lib/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="lib/bootstrap-3.3.7/css/bootstrap.css"/>
    <script src="lib/bootstrap-3.3.7/js/bootstrap.js"></script>
    <script src="/lib/jquery.1.8.3.min.js"></script>
</head>
<body style="padding-top: 80px;">
<nav id="navigation" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">燎火新闻网</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">首页</a>
                </li>
                <li>
                    <a href="/articles">文章列表</a>
                </li>
                <li class="active">
                    <a href="/articleGroups">文章分组</a>
                </li>
                <shiro:hasAnyRoles name="管理员">
                    <li>
                        <a th:href="@{/admin}">管理</a>
                    </li>
                </shiro:hasAnyRoles>
                <script>
                    if(window.parent==window){
                        document.write('<li><a href="/chat">聊天</a></li>')
                    }
                </script>
                <li>
                    <a href="/help.html">帮助</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <shiro:guest>
                    <li>
                        <a href="/login">登录</a>
                    </li>
                    <li>
                        <a href="/register">注册</a>
                    </li>
                </shiro:guest>
                <shiro:user>
                    <li><a th:href="@{/logout}">退出登录</a></li>
                </shiro:user>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-3" th:each="model:${articleGroupList}" th:object="${model}">

            <div class="thumbnail" style="height: 200px;">
                <div style="text-align: center;">
                    <a th:href="#{domain}+'/articleGroups/'+*{id}" >
                            <h3 th:text="*{name}"></h3>
                    </a>
                </div>
                <div style="text-align: center">
                    <h4 th:text="*{total}"></h4>
                </div>
                <shiro:user>
                    <div style="text-align: center;">
                        <th:block th:unless="*{subscribe}">
                            <a th:href="*{'javascript:subscribe('+id+',true)'}" href="">订阅</a>
                        </th:block>
                        <th:block th:if="*{subscribe}">
                            <a th:href="*{'javascript:subscribe('+id+',false)'}" href="">取消订阅</a>
                        </th:block>
                    </div>
                </shiro:user>
            </div>
        </div>
    </div>
</div>



<script>
    function subscribe(articleGroupId,subscribe){
        $.post("/api/articleGroups/subscribe/"+articleGroupId,{subscribe:subscribe},null).complete(function(){
            location.reload();
        })
    }
</script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?e6b9bdcc403490c7a0b5175b174479d9";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

</body>
</html>