<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
>
<head>
    <th:block th:include="/common :: head"  />
    <style type="text/css">
        a.article{
            font-size: large;
        }
    </style>
</head>
<th:block th:include="/common :: nav(articles)" />


<body style="padding-top: 80px;">

<div class="container">
    <div class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input style="width: 250px;" id="keyWord" type="text" class="form-control" placeholder="搜索关键字" oninput="searchSubmit()" autocomplete="off"/>
        </div>
    </div>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>分组</th>
                <th>文章标题</th>
                <th>创建时间</th>
                <th>发生时间</th>
            </tr>
        </thead>
        <tr th:each="model:${articleList}" th:object="${model}">
            <td>
                <a th:href="@{'/articleGroups/'+*{articleGroupId}}" th:text="*{articleGroupName}"></a>
            </td>
            <td>
                <a class="article" th:href="@{'/articles/'+ *{id}}" th:utext="*{title}"></a>
            </td>
            <td>
                <span th:text="*{#dates.format(createTime, 'yyyy-MM-dd HH:mm')}"></span>

            </td>
            <td>
                <th:block th:if="*{occTime}">
                    <span th:text="*{#dates.format(occTime, 'yyyy-MM-dd HH:mm')}"></span>
                </th:block>
            </td>
        </tr>
    </table>
</div>


<th:block th:include="/common :: footer"/>
</body>
</html>